#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.image {
  flex:auto;
  width: 60rem;
  height: 60rem;
}

.wrapper > div {
  border-radius: 5px;
  border-color: #03422b;
  border-style: solid;
  border-width: 0.2rem;
  padding: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-gap: 10px;
}

.box1 {
  grid-column: 1;
  grid-row: 1;
  border-radius: 5px;
}

.box2 {
  grid-column: 2;
  grid-row: 1 / 3;
}

.box3 {
  grid-row: 2;
  grid-column: 1;
}

.box {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 50% 50%;
  grid-gap: 5px;
}

.container text1{
  grid-column: 1;
  grid-row: 1;
}

.container text2{
  grid-column: 2;
  grid-row: 1;
}

.container text3{
  grid-column: 1;
  grid-row: 2;
}

.container text4{
  grid-column: 2;
  grid-row: 2;
}

.container select{
  width: 100%;
  grid-column: 3;
  grid-row: 1;
}

.container button{
  grid-column: 3;
  grid-row: 2;
}